.alert-success {
  color: wheat;
  background-color: #33a24d;
}

.alert-info {
  color: wheat;
  background-color: #195A79;
}

.alert-warning {
  color: wheat;
  background-color: $rooibos;
}

.alert-error {
  color: wheat;
  background-color: #bb4343;
}
