.classic-footer, .absolute-footer  {
  background-color: $caramel;
  a {
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    padding: 3px 10px 3px;
    background-color: #C45525;
  &:hover {
    color: #fff;
    }
  }
}
.user-footer {
  background-color: $rigolo;
  margin-top: 0 !important;
  a {
  color: $rigolo;
  font-size: 18px;
  border-radius: 5px;
  padding: 3px 10px 3px;
  background-color: $moules;
  &:hover {
    color: $rigolo;
    }
  }
}
.footer-element {
  margin: 10px;
}
.absolute-footer {
  position: relative;
  margin-top: 80px;
}

@include media-breakpoint-up(lg) {
  .absolute-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
