.nav-icon {
  height: 70px;
  margin-right: 5px;
}
.inner-header {
  margin-top: 55px;
}
.img-colette-remy img {
  max-width: 250px;
  max-height: 300px;
}
footer {
  background-color: $biscuit;
  a {
    color: white;
    font-size: 18px;
  &:hover {
    color: $white;
    }
  }
}
