// Base styling for the navbar
#mainNav {
  box-shadow: $box-shadow;
  background-color: rgba(232, 167, 93, .5);
  transition: background-color 0.2s ease;
  .nav-icon {
    height: 70px;
    margin-right: 5px;
  }
  .navbar-brand {
    font-family: $font-family-title;
    color: $gray-900;
  }
  h1 {
    margin-right: 0
  }
  .navbar-nav {
    .nav-item {
      form input {
        background-color: #AAA;
        border-radius: 5px;
        border: 1px solid white;
        height: 34px;
        width: 250px;
        font-weight: bold;
        color: black;
        padding-left: 6px;
      }
      .nav-link {
        color: $gray-600;
        font-family: $font-family-text;
        font-weight: $font-weight-bold;
        font-size: 0.9rem;
        padding: 0.75rem 0;
        &:hover,
        &:active {
          color: $primary;
        }
        &.active {
          color: $primary !important;
        }
        img {
          margin-top: -11px;
          height: 65px;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    // Base styling for the navbar - screen sizes greater than the large breakpoint
  #mainNav {
    }
    h1 {
      margin-right: 150px
    }
    background-color: transparent;
    }
    .navbar-brand {
      color: fade-out($white, .3);
      &:hover {
        color: $white;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: fade-out($white, .3);
          padding: 0 1rem;
          margin: 10px;
          img {
            margin-left: -10px;
          }
          &:hover {
            color: $white;
          }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
    // Navbar styling applied when the page is scrolled
    &.navbar-scrolled {
      box-shadow: $box-shadow;
      // background-color: rgba(222, 148, 64, .5);
      .navbar-brand {
        color: $gray-900;
        &:hover {
          color: $primary;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $gray-900;
            }
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
