.product-section {
  img {
    border-radius: 20px;
  }
  button {
    border: 2px solid $rooibos;
    background-color: transparent;
    color: $rooibos;
    padding: 5px;
    border-radius: 10px;
  }
  button:hover {
    border: 2px solid $caramel;
    color: $caramel;
  }
  button:active {
    border: 2px solid $caramel;
    color: $caramel;
  }
}

.item-container {
  position: relative;
  width: 300px;
  height: 450px;
  display: flex;
  a {
    color: #333 !important;
    width: inherit;
    height: inherit;
    display: inherit;
    position: relative;
  }
  p {
    margin-bottom: 5px;
  }
  h6 {
    display: inline-block !important;
  }
}

.food-pic-container {
  position: absolute;
  width: auto;
  height: auto;
  max-height: 400px;
  max-width: 300px;
  bottom: 50px;
  a {
    color: #333 !important;
    width: inherit;
    height: inherit;
    display: inherit;
    position: relative;
  }
}

.food-pic {
  width: auto;
  height: auto;
  max-height: 400px;
  max-width: 300px;
  border-radius: 10px;
  object-fit: scale-down;
}

.no-image {
  border: 2px solid #333;
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
  top: -20px;
  padding: 15px;
  text-align: center;
}

.food-score {
  position: absolute;
  border-radius: 0 10px 0 10px;
  width: 36px;
  right: 0;
  height: 50px;
  z-index: 10;
}

.item-links {
  position: absolute;
  bottom: -10px;
  left: 5px;
}

.nutrition-infos {
  width: 600px;
  text-align: left;
  font-size: 20px;
}

@include media-breakpoint-down(lg) {
  .nutrition-infos {
    width: 50%;
    margin: auto;
  }
}

@include media-breakpoint-down(sm) {
  .nutrition-infos {
    width: 90%;
    margin: auto;
  }
}
